/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-menu {
    position: relative;
  }
  
  .profile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-icon button {
    padding: 10px 20px;
    font-size: 16px;
    color: #4a90e2;
    background-color: #333; /* Default button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-icon button:hover {
    background-color: #4a90e2;
    color:white /* Lighter shade for hover */
  }
  